<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Авто подбор</title>
</head>
<body>
    <div class="container">
        <div class="header mb-3">
            <h1 class="h1 mb-3">Поиск автомобилей по параметрам</h1>
            <a href="/">Показать все автомобили</a>
        </div>
        <div class="form-row">
            {% block search %}
            {% endblock %}
        </div>
        <div class="d-flex flex-row flex-wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>